.background{
    height: 1000px;
    background-image: url("{% static 'images/background5.gif' %}");
    background-size: cover;
}
.container{
    background-image: linear-gradient(rgb(255, 255, 255, 1), rgb(0, 0, 0, .75));
}
.header{
    border-bottom: rgb(105, 105, 105) solid 2px;
    padding-bottom: 25px;
}
.profileinfo{
    min-height: 800px;
    padding: 10px;
    color: rgb(217, 38, 233);
    width: 500px;
    display: inline-block;
}
a{
    float: right;
}
.logoutbutton{
    display: inline-block;
    height: 25px;
    width: 80px;
    background-color: lightpink;
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #e97070, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}
.dashboardbutton{
    display: inline-block;
    height: 50px;
    width: 80px;
    background-color: rgb(195, 204, 114);
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #8f9136, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}
.profilestats{
    min-height: 800px;
    width: 500px;
    color:rgb(217, 38, 233);
    display: inline-block;
    vertical-align: top;
    border-left: rgb(105, 105, 105) solid 2px;
}
.editbutton{
    float: right;
    height: 30px;
    width: 80px;
    background-color: rgb(73, 164, 192);
    text-align: center;
    color: white;
    border-radius: 5px;
}
.messages{
    color: red;
}
.bigname{
    border-bottom: 1px rgb(0, 0, 0) solid;
    font-size: 30px;
    display: inline-block;
}
.fighterbox{
    padding: 1px;
    border: 1px rgb(114, 85, 11) solid;
}