.container{
    background-image: linear-gradient(rgb(255, 255, 255, 1), rgb(0, 0, 0, .75));
}
.header{
    border-bottom: rgb(159, 20, 172) solid 2px;
    padding-bottom: 25px;
}
.profileinfo{
    padding: 10px;
    color: rgb(232, 0, 253);
    width: 500px;
    display: inline-block;
}
a{
    float: right;
}
.logoutbutton{
    display: inline-block;
    height: 25px;
    width: 80px;
    background-color: lightpink;
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #e97070, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}
.dashboardbutton{
    display: inline-block;
    height: 50px;
    width: 80px;
    background-color: rgb(195, 204, 114);
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #8f9136, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}
.profilestats{
    width: 500px;
    color:rgb(159, 20, 172);
    display: inline-block;
    vertical-align: top;
    border-left: rgb(34, 211, 235) solid 2px;
}
.bigname{
    border-bottom: 1px rgb(0, 0, 0) solid;
    font-size: 30px;
    display: inline-block;
}
.fighterbox{
    padding: 1px;
    border: 1px rgb(114, 85, 11) solid;
}
p{
    font-style: oblique;
}