<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
    .background{
    height: 1000px;
    background-image: url("{% static 'images/background5.gif' %}");
    background-size: cover;
    }
    </style>
</head>
<body>
<div class = "background">
    <div class="container">
        <div class = "header">
            <a href= "/logout" class="logoutbutton">Log Out</a>
            <a href= "/dashboard"class="dashboardbutton">Back to Dashboard</a>
            <h5>Welcome, {{ user.alias }}!</h5>
        </div>
        <div class= "profileinfo">
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            {% if user.picture %}
            <img src = "{{user.picture.url}}"alt="{{user.alias}}" width="100px">
            {% endif %}
            <form action="/editprofile" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Alias</label>
                <textarea class="form-control" name="alias" cols="50" rows="1">{{user.alias}}</textarea>
                <label>Description</label>
                <textarea class="form-control" name="desc" cols="50" rows="3" placeholder="{{user.desc}}"></textarea>
                <input type="file" name="picture"></input>
                <button type="submit" value="edit" class="editbutton">Edit</button>
            </div>
            </form>
            <h5>Your total votes: {{user.totalvotes}}</h5>
            <h5>Your most popular fighter: {{leader.first.fightername}} with {{leader.first.votes}} votes.</h5>
            <img src="{{leader.first.picture.url}}" alt="leader.first.fightername" width="100px">
            </div>
            <div class= "profilestats">
                <h4>Uploaded Fighters:</h4>
                <ul>
                {% for fighter in all_fighters %}
                {% if fighter.picture %}
                <li><img class="fighterbox"src="{{fighter.picture.url}}"alt="{{fighter.fightername}}"width="100px"></li>
                {% endif %}
                    <ul>
                        <li class="bigname">{{fighter.fightername}}</li>
                        <li>{{fighter.fighterdesc}}</li>
                    </ul>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>