<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
    .background{
    height: 100%;
    background-image: url("{% static 'images/background5.gif' %}");
    background-size: cover;
    }
    </style>
</head>
<body>
<div class = "background">
    <div class="container">
        <div class = "header">
            <a href= "/logout" class="logoutbutton">Log Out</a>
            <a href= "/dashboard"class="dashboardbutton">Back to Dashboard</a>
            <h5>Welcome to {{ user.alias }}'s profile!</h5>
        </div>
        <div class= "profileinfo">
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            {% if user.picture %}
            <img src = "{{user.picture.url}}"alt="{{user.alias}}" width="300px">
            {% endif %}
            <div class="profileinformation">
                <h3 class="bigname">{{user.alias}}</h3>
                <h4>{{user.name}}</h4>
                <p>{{user.desc}}</p>
            </div>
            <h5>{{user.alias}}'s total votes: {{user.totalvotes}}</h5>
            <h5>{{user.alias}}'s most popular fighter: {{leader.first.fightername}} with {{leader.first.votes}} votes.</h5>
            {% if leader.first.picture %}
            <img class="fighterbox" src="{{leader.first.picture.url}}" alt="leader.first.fightername" width="100px">
            {% endif %}
        </div>
        <div class= "profilestats">
            <h4>Uploaded Fighters:</h4>
            <ul>
            {% for fighter in all_fighters %}
            {% if fighter.picture %}
            <li><img class="fighterbox" src="{{fighter.picture.url}}"alt="{{fighter.fightername}}"width="100px"></li>
            {% endif %}
                <ul>
                    <li class="bigname">{{fighter.fightername}}</li>
                    <li><p>{{fighter.fighterdesc}}</p></li>
                </ul>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>