<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote for a Fighter!</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/vote.css' %}">
    <style>
    .background{
        height: 1000px;
        background-image: url("{% static 'images/background4.gif' %}");
        background-size: cover;
    }
    </style>
</head>
<body>
<div class="background">
    <div class="container">
        <div class = "header">
            <a href= "/logout" class="logoutbutton">Log Out</a>
            <a href= "/dashboard"class="dashboardbutton">Back to Dashboard</a>
            <h5>Welcome, {{ user.alias }}!</h5>
        </div>
        <div class="left">
            <a href="/vote/{{fighter1.id}}"><img src = "{{fighter1.picture.url}}"alt="{{fighter1.fightername}}" width="300px"></a>
            <h2>{{fighter1.fightername}}</h2>
            <h3>{{fighter1.fighterdesc}}</h3>
        </div>
        <div class="middle">
            <h1>VS.</h1>
        </div>
        <div class="right">
            <a href="/vote/{{fighter2.id}}"><img src = "{{fighter2.picture.url}}"alt="{{fighter2.fightername}}" width="300px"></a>
            <h2>{{fighter2.fightername}}</h2>
            <h3>{{fighter2.fighterdesc}}</h3>
        </div>
    </div>
</div>
</body>
</html>